<div class="flex flex-col p-12 gap-8">
  <div class="flex space-x-2 text-4xl font-semibold">
    <h1>{{ 'Hi' | translate }}</h1>
    <h1>John!</h1>
  </div>
  <div class="flex flex-row gap-4">
    <div class="flex flex-col basis-2/3 gap-6">
      <app-admin-dashboard *ngIf="userRole == UserRole.Admin"></app-admin-dashboard>
      <app-student-dashboard *ngIf="userRole == UserRole.Student"></app-student-dashboard>
      <app-teacher-dashboard *ngIf="userRole == UserRole.Teacher"></app-teacher-dashboard>
    </div>
    <div class="flex flex-col basis-1/4 gap-6">
      <app-calendar class="frame rounded-lg"></app-calendar>

      <app-scheduled-exams

      ></app-scheduled-exams>
    </div>
  </div>
</div>
