<div class="flex rounded-3xl px-1.5 my-auto w-11 h-6 bg-gray-700 dark:bg-white" >
    <button class="flex relative" (click)="changeMode()">
        <svg-icon class="buttonItem left-0.5 invisible dark:visible" src="../../../../assets/Icons/sun.svg"></svg-icon>
        <div class="buttonItem trans rounded-full w-3.5 h-3.5 left-0 bg-white dark:left-5 dark:bg-gray-700"></div>
        <svg-icon class="buttonItem left-5 dark:invisible" src="../../../../assets/Icons/moon.svg"></svg-icon>
    </button>
</div>
