<div class="relative flex gap-2 py-6 px-8 rounded-2xl mainContainer">
  <div class="flex flex-col gap-4 basis-2/3">
    <span class="text-xl font-semibold">Create exam</span>
    <span >Create a new exam for your students share it via a link or through a special group and monitor their progress</span>
    <button class="flex gap-4 bg-yellow#FDC57B py-1.5 px-4 rounded-xl w-max">
      <span class="font-medium">Add new exam</span>
      <fa-icon icon="plus"></fa-icon>
    </button>
    <img class="absolute bottom-6 right-8" src="../../../../../assets/images/kidstudy.png">
  </div>
</div>
