<div class="relative flex gap-2 p-6 h-full w-fulll">
    <div class="flex flex-col gap-4">
      <div class="flex w-full">
        <span class="my-auto text-xl font-semibold">Feedback</span>
        <button class="ml-auto flex gap-4 bg-yellow#FDC57B py-1.5 px-4 rounded-xl w-max">
          <span class="font-medium">Give feedback</span>
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
      <span class="w-6/10">Tell us about your user experience. With your help we can create more useful and attractive application. Thank you.</span>
      <img class="absolute bottom-2 right-8" src="../../../../../assets/images/addExamStudent.png">
    </div>
  </div>
  
