<div class="relative flex gap-2 p-6 h-full w-fulll">
  <div class="flex flex-col gap-4">
    <div class="flex w-full">
      <span class="my-auto text-xl font-semibold">Exams</span>
      <a routerLink="../add-exam" class="ml-auto flex gap-4 bg-yellow#FDC57B py-1.5 px-4 rounded-xl w-max z-10">
        <span class="font-medium">Add exam</span>
        <fa-icon icon="plus"></fa-icon>
      </a>
    </div>
    <span class="w-6/10">Create a new exam for your students share it via a link or through a special group and monitor their progress.</span>
    <img class="absolute bottom-2 right-8 z-0" src="../../../../../assets/images/addExamStudent.png">
  </div>
</div>
