<div class="w-full h-full bg-gray#F8F8F8 dark:bg-gray-700">
  <div class="flex flex-row-reverse h-full mx-8">
    <button class="ml-2 dark:text-white" (click)="isOptionsOpen = !isOptionsOpen">
      <fa-icon icon="chevron-down"></fa-icon>
    </button>
    <img class="my-auto h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256" alt="">
  </div>
  <div *ngIf="isOptionsOpen" class="absolute flex flex-col p-0.5 right-6 w-44 origin-top-right rounded bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-700">
    <a href="./profile" class="flex flex-col">
      <span class="option">Profile</span>
    </a>
    <a href="./pricing">
      <div class="flex option">
        <span class="font-bold">Premium</span>
        <img class="h-4 w-4" src="../../../../../assets/images/magic_stars.png">
      </div>
    </a>
    <div class="flex option">
      <span>Language</span>
      <app-language class="ml-auto"></app-language>
    </div>
    <div class="flex option">
      <span>Dark Mode</span>
      <app-mode class="ml-auto"></app-mode>
    </div>
    <hr>
    <button (click)="logout()" class="option">Log out</button>
  </div>
</div>
