<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center text-center sm:items-center">
      <div class="rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="flex flex-col pt-4 px-2">
          <button class="ml-auto mr-2" (click)="dialogRef.close()">
            <fa-icon icon="xmark"></fa-icon>
          </button>
          <span class="text-2xl font-medium mb-12">Add group/students</span>
          <div class="flex mb-4">
            <div class="flex space-x-2">
              <button (click)="currentMemberType = MemberType.Student" 
              class="py-2 px-4 rounded-lg text-sm font-medium" 
              [ngClass]="currentMemberType == MemberType.Student ? 'border text-white bg-navy#07617D' : 'border-2 text-gray-400'"
            >Students</button>
            <button (click)="currentMemberType = MemberType.Group" 
              class="py-2 px-4 rounded-lg text-sm font-medium" 
              [ngClass]="currentMemberType == MemberType.Group ? 'border text-white bg-navy#07617D' : 'border-2 text-gray-400'"
            >Groups</button>
            </div>
            <div class="flex w-2/5 px-4 py-1 rounded-lg border border-gray-300 ml-auto">
              <fa-icon class="my-auto mr-3 text-gray-500" icon="magnifying-glass"></fa-icon>
              <input 
                class="w-full text-sm focus: outline-none" 
                type="text" 
                placeholder="Enter name" 
                [(ngModel)]="filters.search"
                (ngModelChange)="searchValueChange()" />
            </div>
          </div>
          <div *ngIf="currentMemberType == MemberType.Student" class="mb-8">
            <table class="w-full">
              <thead>
                <tr class="border-b-2 text-left text-sm text-gray-400 font-thin">
                  <th class="pl-1 w-12">
                    <input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  </th>
                  <th>
                    Full name
                  </th>
                  <th>
                    Group
                  </th>
                </tr>
              </thead>
              <tbody class="overflow-y-auto scrollbar-thin scrollbar-w-1 scrollbar-thumb-gray-400 scrollbar-track-gray-200 scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
                <tr *ngFor="let student of students; let i=index">
                    <td class="w-12">
                      <input type="checkbox" [checked]="student.isSelected" (change)="studentChange(i)" class="ml-1 mx-auto h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    </td>
                    <td class="flex">
                      <svg-icon class="my-auto mr-2" src="../../../../../../assets/Icons/student_single.svg"></svg-icon>
                      <span>{{student.firstName}} {{student.lastName}}</span>
                    </td>
                    <td>{{student.group.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="currentMemberType == MemberType.Group" class="mb-8">
            <table class="w-full">
              <thead>
                <tr class="border-b-2 text-left text-sm text-gray-400 font-thin">
                  <th class="pl-1 w-12">
                    <input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  </th>
                  <th>
                    Group
                  </th>
                  <th>
                    Members
                  </th>
                </tr>
              </thead>
              <tbody class="overflow-y-auto scrollbar-thin scrollbar-w-1 scrollbar-thumb-gray-400 scrollbar-track-gray-200 scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
                <tr *ngFor="let group of groups; let i=index">
                    <td class="w-12">
                      <input type="checkbox" [checked]="group.isSelected" (change)="groupChange(i)" class="ml-1 mx-auto h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    </td>
                    <td class="flex">
                      <span>{{group.name}}</span>
                    </td>
                    <td>{{group.students}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="bg-navy#07617D rounded-xl pb-2 pt-1.5 px-8 ml-auto text-white" (click)="closeDialog()">save & continue</button>
        </div>
      </div>
    </div>
  </div>
</div>


