tbody {
  display: block;
  height: 326px;
  overflow: auto;
}

thead {
  display: block;
  margin-bottom: 12px;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
