<div class="flex flex-col p-6 space-y-4">
    <div class="flex">
        <span class="w-1/2 font-semibold text-xl">Student</span>
        <div class="ml-auto">
            <button class="flex" class="bg-yellow#FDC57B py-1.5 px-4 rounded-xl w-max flex space-x-4">
                <span class="font-medium">Add student</span>
                <fa-icon icon="plus"></fa-icon>
            </button>
        </div>
    </div>
    <div class="flex">
        <span class="w-1/2">Create a new exam for your students share it via a link or through a special group and monitor their progress</span>
        <div>
            <img src="../../../../../../../../assets/images/student.png" alt="">
        </div>
    </div>
</div>
