<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center text-center sm:items-center">
            <div class="rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:p-6">
                <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit(passwordFormGroup)">
                    <div class="flex flex-col gap-6">
                        <div class="flex">
                            <span class="text-3xl text-gray-600">Change Password</span>
                            <button class="ml-auto mr-2" (click)="dialogRef.close()">
                                <fa-icon icon="xmark"></fa-icon>
                            </button>
                        </div>
                        <div class="flex gap-20">
                            <div class="flex flex-col">
                                <span class="mb-2">Password must contain:</span>
                                <div class="flex gap-2">
                                    <fa-icon class="w-4" 
                                        [icon]="passwordFormGroup.controls?.['password']?.value.length < 7 ? 'xmark' : 'check'" 
                                        [ngClass]="passwordFormGroup.controls?.['password']?.value.length < 7 ? 'text-red-500' : 'text-green-500'"></fa-icon>
                                    <span>At least 7 characters</span>
                                </div>
                                <div class="flex gap-2">
                                    <fa-icon class="w-4" 
                                        [icon]="passwordFormGroup.controls?.['password'].errors?.['upperLetter'] ? 'xmark' : 'check'" 
                                        [ngClass]="passwordFormGroup.controls?.['password'].errors?.['upperLetter'] ? 'text-red-500' : 'text-green-500'"></fa-icon>
                                    <span>At least 1 upper case letter (A-Z)</span>
                                </div>
                                <div class="flex gap-2">
                                    <fa-icon class="w-4" 
                                        [icon]="passwordFormGroup.controls?.['password'].errors?.['lowerLetter'] ? 'xmark' : 'check'" 
                                        [ngClass]="passwordFormGroup.controls?.['password'].errors?.['lowerLetter'] ? 'text-red-500' : 'text-green-500'"></fa-icon>
                                    <span>At least 1 lower case letter (a-z)</span>
                                </div>
                                <div class="flex gap-2">
                                    <fa-icon class="w-4" 
                                        [icon]="passwordFormGroup.controls?.['password'].errors?.['digits'] ? 'xmark' : 'check'" 
                                        [ngClass]="passwordFormGroup.controls?.['password'].errors?.['digits'] ? 'text-red-500' : 'text-green-500'"></fa-icon>
                                    <span>At least 1 number (0-9)</span>
                                </div>
                                <div class="flex gap-2">
                                    <fa-icon class="w-4" 
                                        [icon]="passwordFormGroup.controls?.['password'].errors?.['specialChar'] ? 'xmark' : 'check'" 
                                        [ngClass]="passwordFormGroup.controls?.['password'].errors?.['specialChar'] ? 'text-red-500' : 'text-green-500'"></fa-icon>
                                    <span>At least 1 special character</span>
                                </div>
                            </div>
                            <div class="flex flex-col gap-4 w-72 my-auto">
                                <input class="border-b border-gray-400" placeholder="***********" type="password" name="password" formControlName="password" />
                                <input class="border-b border-gray-400" placeholder="***********" type="password" name="confirmationPassword" formControlName="confirmationPassword" />
                                <span 
                                    class="text-sm text-red-500"
                                    *ngIf="submitted && passwordFormGroup.controls?.['password'].value != passwordFormGroup.controls?.['confirmationPassword'].value">
                                    Passwords don't match!
                                </span>
                            </div>
                        </div>
                        <div class="flex ml-auto">
                            <button class="bg-navy#07617D px-6 py-1.5 rounded-full text-white ">Change password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
