<div *ngIf="groupScheduleExams$ | async as scheduleExams; else nonScheduledExams" class="flex flex-col gap-2 pl-4">
  <span class="text-lg font-medium">Scheduled exams</span>
  <div class="flex flex-col pl-4">
    <app-scheduled-exam-card
      *ngFor="let scheduleExam of scheduleExams"
      [groupScheduleExams]="scheduleExam"
    ></app-scheduled-exam-card>
  </div>
</div>
<ng-template #nonScheduledExams>
  <div class="flex flex-col gap-2 pl-4">
    <span class="text-lg font-medium">Scheduled exams</span>
    <span class="pl-4 text-gray-600 text-sm">No scheduled exams.</span>
  </div>
</ng-template>
