<form class="flex flex-col h-full" [formGroup]="studentForm">
    <label class="pl-1 text-gray-700">First Name<span class="text-red-400 ml-1">*</span></label>
    <input class="pb-0.5 pl-2 border-b-2 border-gray-400 focus:outline-none" type="text" formControlName="firstName">
    <div class="h-4">
  
    </div>
    <label class="pl-1 text-gray-700">Last Name<span class="text-red-400 ml-1">*</span></label>
    <input class="pb-0.5 pl-2 border-b-2 border-gray-400 focus:outline-none" type="text" formControlName="lastName">
    <div class="h-4">
  
    </div>
    <label class="pl-1 text-gray-700">E-mail<span class="text-red-400 ml-1">*</span></label>
    <input class="pb-0.5 pl-2 border-b-2 border-gray-400 focus:outline-none" type="text" formControlName="email">
    <div class="h-4">
  
    </div>
</form>
