<div *ngIf="exam$ | async as exam" class="flex flex-col p-4 gap-4">
  <a routerLink="/exams" class="flex px-4 text-sm text-gray-500">
    <fa-icon class="mr-2" icon="arrow-left-long"></fa-icon>
    <span>back to exams</span>
  </a>
  <span class="mx-4 text-2xl text-black font-medium">Exam Monitoring</span>
  <div class="frame flex mx-4 rounded-xl">
    <div class="flex flex-col px-8 py-6 gap-12 flex-1">
      <div class="flex flex-col">
        <div class="flex gap-6">
          <span class="text-xl">{{exam.title}}</span>
          <span class="px-6 my-auto py-1 text-sm border rounded-full text-blue-500 border-blue-500">{{ExamStatus[exam.status]}}</span>
        </div>
        <span class="text-sm text-gray-500">{{exam.questionsCount}} questions</span>
      </div>
      <div class="flex">
        <div class="flex flex-col gap-2">
          <div class="flex flex-col">
            <span class="text-sm text-gray-500">valid from</span>
            <span>{{exam.availableFrom | date: 'dd.MM.yyyy hh:mm'}}</span>
          </div>
          <div class="flex flex-col">
            <span class="text-sm text-gray-500">valid to</span>
            <span>{{exam.availableTo | date: 'dd.MM.yyyy hh:mm'}}</span>
          </div>
        </div>
        <div class="flex ml-auto mt-auto gap-3">
          <button class="flex" (click)="finishExam()">
            <svg-icon src="../../../../../assets/Icons/deactivateExam.svg"></svg-icon>
          </button>
          <button class="flex" (click)="addNewExamMember()">
            <svg-icon src="../../../../../assets/Icons/addExamMembers.svg"></svg-icon>
          </button>
          <button class="flex" (click)="openExamPreview()">
            <svg-icon src="../../../../../assets/Icons/examPreview.svg"></svg-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="exam.examResults && exam.average != null" class="flex flex-col p-6 mr-4 bg-blue#E9F7FA w-1/5 gap-1">
      <span class="text-xl">Average</span>
      <div class="flex w-9/10">
        <span class="text-sm text-gray-500">Question nr {{exam.hardQuestion.index}}. is the hardest question with {{exam.hardQuestion.average | number : '1.0-0'}} % positive answers.</span>
      </div>
      <div class="ml-auto w-3/4 relative">
        <svg width="100" height="100" viewBox="0 0 100 100" style="transform: rotate(-90deg)">
          <circle r="40" cx="50" cy="50" fill="transparent" stroke="#e0e0e0" stroke-width="12px"></circle>
          <circle r="40" cx="50" cy="50" fill="transparent" stroke="#07617D" stroke-width="10px" [attr.stroke-dasharray]="2*3.14*40" [attr.stroke-dashoffset]="2*3.14*40*((100-exam.average)/100)"></circle>
        </svg>
        <span class="absolute text-navy#07617D font-semibold text-lg top-9 left-8">{{exam.average | number : '1.0-0' }} %</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col p-4">
    <span class="text-xl text-black mb-4">Students</span>
    <app-grid
      [searchPlaceholder]="'Enter student name'"
      [searchConfiguration]="searchConfiguration"
      [filterConfiguration]="filterConfiguration"
      [configurations]="configurations"
      [allItems]="exam.examResults"
      [routerName]="'../../examsResults/examResult'"
    ></app-grid>
  </div>
</div>
