<div *ngIf="exam$ | async as exam" class="flex flex-col p-4 text-gray-500">
  <a routerLink="/exams" class="flex px-4 text-sm">
    <fa-icon class="mr-4 mb-4" icon="arrow-left-long"></fa-icon>
    <span>Back to exams</span>
  </a>
  <span class="mx-4 text-2xl text-black font-medium mb-4">Exam Monitoring</span>
  <div class="flex flex-col p-2 pr-4 pb-4 border-4 rounded-xl shadow-inner mb-4">
    <div class="flex mb-2">
      <div x-data="scrollProgress" class="inline-flex items-center justify-center rounded-full">
        <svg class="w-36 h-36">
          <circle class="text-gray-300" [innerText]="'elo'" stroke-width="8" stroke="currentColor" fill="transparent" r="50" cx="70" cy="70" />
          <text x="50%" y="50%" text-anchor="middle" stroke="#07617D" stroke-width="1px" dy=".3em" font-size="x-large">{{exam.completedExams}}/{{exam.examResults.length}}</text>
          <circle class="text-yellow#FDC57B" stroke-width="8" :stroke-dasharray="280" :stroke-dashoffset="45" stroke-linecap="round" stroke="currentColor" fill="transparent" r="50" cx="70" cy="70" />
        </svg>
      </div>
      <div class="flex flex-col ml-2 pt-4">
        <div class="flex mb-1">
          <span class="text-xl text-black mr-4">{{exam.name}}</span>
          <span class="m-auto px-8 border rounded-full text-blue-500 border-blue-500">{{exam.status}}</span>
        </div>
        <span>{{exam.category}}</span>
        <span>{{exam.questionNumber}} questions</span>
      </div>
      <div class="flex flex-col ml-auto mr-2 mt-8">
        <div class="flex mb-1">
          <span class="mr-4">{{exam.availableFrom | date: 'dd MMM yyyy'}}</span>
          <span class="mr-2">{{exam.availableFrom | date: 'hh:mm a'}}</span>
          <fa-icon class="mr-2" icon="arrow-right-long"></fa-icon>
          <span class="mr-4">{{exam.availableTo | date: 'hh:mm a'}}</span>
          <span>{{exam.availableTo | date: 'dd MMM yyyy'}}</span>
        </div>
        <div class="flex ml-auto mb-1">
          <fa-icon class="mr-2" [icon]="['far','clock']"></fa-icon>
          <span>{{exam.time}} min</span>
        </div>
      </div>
    </div>
    <div class="flex space-x-2 text-white">
      <button (click)="openExamPreview()" class="ml-auto pt-1.5 pb-2 px-8 mr-2 text-white bg-navy#07617D rounded-lg">
        Exam preview
      </button>
      <button class="bg-red-500" (click)="finishExam()">finish exam</button>
      <button class="bg-blue-500" (click)="addNewExamMember()">add member</button>
    </div>
  </div>
  <div class="flex flex-col p-4">
    <span class="text-xl text-black mb-4">Students</span>
    <app-grid
      [searchPlaceholder]="'Enter student name'"
      [searchConfiguration]="searchConfiguration"
      [filterConfiguration]="filterConfiguration"
      [configurations]="configurations"
      [allItems]="exam.examResults"
      [routerName]="'../../examsResults/examResult'"
    ></app-grid>
  </div>
</div>
